/*! Place your custom styles here */

.bar .logo {
  max-height: 1.3em;
}

.benefits .row .col-sm-4 {
  margin-bottom: 40px;
}

p.release {
  color: white;
  padding-top: .5em;
  font-size: 1.2em;
}

.release a, .release a:visited {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.release a:hover {
  color: white;
  text-decoration: underline;
}

.benefits p {
  margin-bottom: 0;
}

.fa-fw {
  color: #f08b16;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-header {
  background-color: black;
  background-image: url(../img/background14.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  position:relative;
}

@media only screen and (max-device-width: 1024px) {
  .site-header {
      background-attachment: scroll !important;
  }
}

@media (max-width: 767px) {
  .dropdown .dropdown__content {
      padding: 0 1.2em .3em;
  }
}

.dropdown .dropdown__content {
  min-width: 200px;
  border:1px solid #eee;
  border-radius: 0;
  border-width:1px 1px 3px 1px;
  box-shadow: none;
  --webkit-box-shadow: none;
}

@media (min-width: 991px) {
  .dropdown .dropdown__container:before {
    height: 0px;
  }
}

#ticker, #ticker_value {
  font-weight: 400;
  color: white;
}

.ticker {
  padding-top: 15px;
}

.lead {
  color: white;
}

section.no-bottom {
  padding-bottom: 0;
}

section.no-top {
  padding-top: 0;
}

section.gray {
      background: #fafafa;
    background: -webkit-linear-gradient(to right, #fafafa, #f9f9f9);
    background: linear-gradient(to right, #fafafa, #f9f9f9);
}

section.border-bottom {
  border-bottom: 1px solid #EAEAEA;
}

p.question {
  font-size: 1.3em;
  font-weight: 350;
  font-variant-ligatures: common-ligatures;
  color: #f08b16;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 1.04em;
}

.nodes div a:hover, .wallets div a:hover, .services div a:hover, .exchanges div a:hover {
  border-bottom: 3px solid #F08B16;
}


.community-cta .btn{
  margin-bottom:1em;
}

.community-cta .btn + .btn {
  margin-left:1em;
}

/* .video-section .card-user-profile {
  margin-top:2em;
} */

.video-section .card-user-profile-content::before {
 content:none;
}
.video-section .card-user-profile-name {
  margin-top:1.5em;
  margin-bottom:.5em;
  color:#ee8a2c;
}
.featured-wallets {
  padding-bottom:2em;
}
.wallets .featured-wallets div a {
  display:block;
  margin:0 auto 1em;
  position: relative;
  color:#4d4d4d;
  height:auto;
}
.featured-wallets a img {
  display:block;
  margin:0 auto;
}
.wallet-types h3 {
  font-weight:bold;
  color:#4d4d4d;
  font-size:21px;
}
.wallet-types, .card-user-profile.wallet-types {
  padding:1em 0.5em;
  margin:1em 0;
}

/* @media all and (max-width: 767px) {
    .wallet-types .type ion-icon {
      font-size:24px;
  }
} */
.wallet-types h4 {
  margin-bottom:0.25em;
  color:#4d4d4d;
}
.wallet-types .col-xs-3 {
  text-align:right;
}
.wallet-types .type {
  margin-bottom:1.1em;
  padding-bottom:1.1em;
  border-bottom:1px solid #eee;
}
.wallet-types .type:last-child {
  border-bottom:0;
  margin-bottom:0;
}
.wallet-types .type p {
  color:#4d4d4d;
  font-size:0.8em;
}
.wallet-types .type ion-icon {
  background:#fda839;
  font-size:40px;
}
.wallet-types .type:nth-child(2) ion-icon{
  background:#fe8645;
}

.wallet-types .type:nth-child(3) ion-icon{
  background:#fe6d4a;
}

.wallet-types .type:nth-child(4) ion-icon{
  background:#fe7b34;
}

.wallet-types .type:nth-child(5) ion-icon{
  background:#ff584f;
}

.wallet-types .type:nth-child(6) ion-icon{
  background:#dd4b44;
}

.wallet-types .type:nth-child(7) ion-icon{
  background:#b93d36;
}

.wallet-types .type:nth-child(8) ion-icon{
  background:#9e342e;
}

.featured-wallets a:hover, .featured-wallets a:focus {
  text-decoration: none;
}
.featured-wallets a .supports {
  position:absolute;
  right:10px;
  bottom:0px;
}
.featured-wallets ion-icon {
  color:#4d4d4d;
  display:inline-block;
  font-size:20px;
}
.featured-wallets p {
  font-size:16px;
  font-weight:normal;
  margin-top:1em;
  
}
.wallet-filter {
  min-height:400px;
  margin-bottom:2em;
  -webkit-transition: height 250ms ease;
  -moz-transition: height 250ms ease;
  -o-transition: height 250ms ease;
  -ms-transition: height 250ms ease;
  transition: height 250ms ease;
}
.wallet-filter .wallets .section-heading {
  margin-top:2em;
}
.secondary-wallets {
  margin-top:1em;
}
.nodes div a, .wallets div a, .services div a, .exchanges div a{
  padding: 2em;
  width: 100%;
  height: 120px;
  display: block;
  background: white;
  border:1px solid #eee;
  border-width:1px 1px 3px 1px;

  -webkit-transition: border-color 250ms ease;
  -moz-transition: border-color 250ms ease;
  -o-transition: border-color 250ms ease;
  -ms-transition: border-color 250ms ease;
  transition: border-color 250ms ease;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

.wallets .nav-tabs > li.active > a, .wallets .nav-tabs > li.active > a:hover, .wallets .nav-tabs > li.active > a:focus {
  background-color:#fafafa;
}

.wallet-filter .nav-tabs {
  margin-bottom:2em;
}

.nav-tabs li a {
  height:auto;
  margin-bottom:0;
  background:transparent;
}
.nav-tabs li {
  margin-right:5px;
}

.nav-tabs li a:hover {
  border-bottom:0;
}
.nav-tabs li.active a, .row .nav-tabs > li.active > a, .row .nav-tabs > li.active > a:hover, .row .nav-tabs > li.active > a:focus {
  background:#fafafa;
}
.nodes div a.btn, .wallets div a.btn, .services div a.btn, .exchanges div a.btn {
  width: auto;
  padding: .8em 1em;
  display: inline-block;
  height: auto;
  border: 0;
  color: #fff;
  background: #F59331;
  transition-duration: 0.2s;
}

.social-list a, .social-list a i, .social-list a ion-icon {
  color:#a3a3a3;
  font-size:24px;
  margin-top:1em;
}


@media all and (max-width: 767px) {
  .wallets div a {
    width:90%
  }
}
@media all and (min-width: 990px) {
  .menu-vertical li {
    white-space: normal;
  }
}

a {
  word-break: break-word;
}

ol {
  margin-left: 20px;
}