<section id="fh5co-donation" data-section="donation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">{% t 'graphics.donation.title' %}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{% t 'graphics.donation.description' %}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.donation.primary' %}</h6>
                    <img src="/media-kit/10-bitcoin-cash-donations-medium.png" alt="Bitcoin Cash Donations Accepted" class="">
                    <a href="/media-kit/10-bitcoin-cash-donations-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/10-bitcoin-cash-donations-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/10-bitcoin-cash-donations-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/10-bitcoin-cash-donations-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/10-bitcoin-cash-donations.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.donation.orange' %}</h6>
                    <img src="/media-kit/11-bitcoin-cash-donations-orange-medium.png" alt="Bitcoin Cash Donations Accepted" class="">
                    <a href="/media-kit/11-bitcoin-cash-donations-orange-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/11-bitcoin-cash-donations-orange-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/11-bitcoin-cash-donations-orange-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/11-bitcoin-cash-donations-orange-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/11-bitcoin-cash-donations-orange.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>