<section id="fh5co-identity" data-section="identity">
    <div class="container">
        <div class="row">
            <div class="col-md-6 section-heading text-center">
                <h2 class="to-animate">{% t 'graphics.identity.title' %}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{% t 'graphics.identity.description' %}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 to-animate">
                <div class="font">
                    <h3>{% t 'graphics.identity.font' %}</h3>
                    <h4 class="font-color-sample" style="font-weight:bold">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890?!%</h4>
                    <a href="https://fonts.google.com/specimen/Ubuntu?selection.family=Ubuntu:700" class="btn btn-primary" target="_blank">{% t 'graphics.identity.download' %}</a>
                </div>
                <div class="font">
                    <h3>{% t 'graphics.identity.font_italic' %}</h3>
                    <h4 class="font-color-sample" style="font-style:italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890?!%</h4>
                    <a href="https://fonts.google.com/specimen/Ubuntu?selection.family=Ubuntu:700i" class="btn btn-primary" target="_blank">{% t 'graphics.identity.download' %}</a>
                </div>
            </div>
            <div class="col-md-6 to-animate">
                <div class="color row">
                    <div class="col-xs-4 col-sm-3">
                        <span class="box-color" style="background:#F59332"></span>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <h3>{% t 'graphics.identity.orange' %}</h3>
                        {% t 'graphics.identity.hex' %}: #F59332
                        <br> {% t 'graphics.identity.rgb' %}: 247 / 148 / 29
                        <br> {% t 'graphics.identity.cmyk' %}: 0 / 50 / 100 / 0
                        <br> {% t 'graphics.identity.pantone' %}: 1375C
                    </div>
                </div>
                <div class="color row">
                    <div class="col-xs-4 col-sm-3">
                        <span class="box-color" style="background:#4D4D4D"></span>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <h3>{% t 'graphics.identity.grey' %}</h3>
                        {% t 'graphics.identity.hex' %}: #4D4D4D
                        <br> {% t 'graphics.identity.rgb' %}: 77 / 77 / 77
                        <br> {% t 'graphics.identity.cmyk' %}: 65 / 58 / 57 / 37
                        <br> {% t 'graphics.identity.pantone' %}: 11C
                    </div>
                </div>
                <div class="color row">
                    <div class="col-xs-4 col-sm-3">
                        <span class="box-color" style="background:#FFFFFF"></span>
                    </div>
                    <div class="col-xs-8 col-sm-9">
                        <h3>{% t 'graphics.identity.white' %}</h3>
                        {% t 'graphics.identity.hex' %}: #FFFFFF
                        <br> {% t 'graphics.identity.rgb' %}: 255 / 255 / 255
                        <br> {% t 'graphics.identity.cmyk' %}: 0 / 0 / 0 / 0
                        <br> {% t 'graphics.identity.pantone' %}: paper
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>