<section data-section="logos">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">{% t 'graphics.logos' %}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{% t 'graphics.download_png_svg' %}</h3>
                        <h4>
                            <a href="/media-kit/Bitcoin-Cash-Logos.zip" target="_blank">
                                <i class="icon-download"></i> {% t 'graphics.download_all' %}</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.types.primary' %}</h6>
                    <img src="/media-kit/3-bitcoin-cash-logo-ot-medium.png" alt="Bitcoin Cash Logo">
                    <a href="/media-kit/3-bitcoin-cash-logo-ot-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/3-bitcoin-cash-logo-ot-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/3-bitcoin-cash-logo-ot-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/3-bitcoin-cash-logo-ot-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/3-bitcoin-cash-logo-ot.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.types.white' %}</h6>
                    <img src="/media-kit/2-bitcoin-cash-logo-wt-medium.png" alt="Bitcoin Cash Logo" class=" dark">
                    <a href="/media-kit/2-bitcoin-cash-logo-wt-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/2-bitcoin-cash-logo-wt-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/2-bitcoin-cash-logo-wt-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/2-bitcoin-cash-logo-wt-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/2-bitcoin-cash-logo-wt.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.types.mark' %}</h6>
                    <img src="/media-kit/4-bitcoin-cash-logo-flag-medium.png" alt="Bitcoin Cash Logo" class="flag">
                    <a href="/media-kit/4-bitcoin-cash-logo-flag-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/4-bitcoin-cash-logo-flag-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/4-bitcoin-cash-logo-flag-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/4-bitcoin-cash-logo-flag-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/4-bitcoin-cash-logo-flag.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.types.horizontal_primary' %}</h6>
                    <img src="/media-kit/6-bitcoin-cash-logo-horizontal-medium.png" alt="Bitcoin Cash Logo" class=" horiz">
                    <a href="/media-kit/6-bitcoin-cash-logo-horizontal-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/6-bitcoin-cash-logo-horizontal-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/6-bitcoin-cash-logo-horizontal-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/6-bitcoin-cash-logo-horizontal-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/6-bitcoin-cash-logo-horizontal.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.types.horizontal_white' %}</h6>
                    <img src="/media-kit/5-bitcoin-cash-logo-horizontal-wt-medium.png" alt="Bitcoin Cash Logo" class=" dark horiz">
                    <a href="/media-kit/5-bitcoin-cash-logo-horizontal-wt-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/5-bitcoin-cash-logo-horizontal-wt-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/5-bitcoin-cash-logo-horizontal-wt-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/5-bitcoin-cash-logo-horizontal-wt-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/5-bitcoin-cash-logo-horizontal-wt.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.types.wallets_exchanges' %}</h6>
                    <img src="/media-kit/12-bitcoin-cash-square-crop-small.png" alt="Bitcoin Cash Logo" class=" square-crop">
                    <a href="/media-kit/12-bitcoin-cash-square-crop-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/12-bitcoin-cash-square-crop-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/12-bitcoin-cash-square-crop-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/12-bitcoin-cash-square-crop-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/12-bitcoin-cash-square-crop.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>