<a id="start"></a>
<header id="fh5co-header">
    <div class="container">
        <nav class="navbar navbar-default">
            {% include site-logo.html %}
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="../" class="external" data-nav-section="home"><span>{% t 'graphics.sections.home' %}</span></a></li>
                    <li><a href="#" data-nav-section="logos"><span>{% t 'graphics.sections.logos' %}</span></a></li>
                    <li><a href="#" data-nav-section="merchant"><span>{% t 'graphics.sections.merchant' %}</span></a></li>
                    <li><a href="#" data-nav-section="donation"><span>{% t 'graphics.sections.donations' %}</span></a></li>
                    <li><a href="#" data-nav-section="identity"><span>{% t 'graphics.sections.identity' %}</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>