<section id="fh5co-merchant" data-section="merchant">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">{% t 'graphics.merchant.title' %}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{% t 'graphics.merchant.description' %}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.merchant.primary' %}</h6>
                    <img src="/media-kit/7-bitcoin-cash-accepted-here-medium.png" alt="Bitcoin Cash Accepted Here" class="">
                    <a href="/media-kit/7-bitcoin-cash-accepted-here-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/7-bitcoin-cash-accepted-here-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/7-bitcoin-cash-accepted-here-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/7-bitcoin-cash-accepted-here-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/7-bitcoin-cash-accepted-here.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="fh5co-person text-center to-animate">
                    <h6>{% t 'graphics.merchant.orange' %}</h6>
                    <img src="/media-kit/8-bitcoin-cash-accepted-here-orange-medium.png" alt="Bitcoin Cash Accepted Here" class="">
                    <a href="/media-kit/8-bitcoin-cash-accepted-here-orange-small.png" class="btn btn-secondary btn-block">{% t 'graphics.small' %}</a>
                    <a href="/media-kit/8-bitcoin-cash-accepted-here-orange-medium.png" class="btn btn-secondary btn-block">{% t 'graphics.medium' %}</a>
                    <a href="/media-kit/8-bitcoin-cash-accepted-here-orange-large.png" class="btn btn-secondary btn-block">{% t 'graphics.large' %}</a>
                    <a href="/media-kit/8-bitcoin-cash-accepted-here-orange-full.png" class="btn btn-secondary btn-block">{% t 'graphics.full' %}</a>
                    <a href="/media-kit/8-bitcoin-cash-accepted-here-orange.svg" class="btn btn-secondary btn-block">{% t 'graphics.vector' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>