<section id="fh5co-emerging" data-section="emerging">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">{% t 'tech.emerging.title' %}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{% t 'tech.emerging.description' %}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              {% assign items_group = site.pages | sort: 'group' | reverse | group_by: 'group' %}
              {% assign date_now = "now" | date: "%Y-%m-%d" %}

              {% for group in items_group  %}
                  {% if group.name == 'foundation' %}
                      {% assign items = group.items | sort: 'date' | reverse %}

                      {% for item in items %}
                          <h2><a href="..{{item.url}}">{{item.title}}</a></h2>
                          <h3>{{item.description}}</h3>
                      {% endfor %}
                  {% endif %}
              {% endfor %}
            </div>
        </div>
    </div>
</section>
