.accordionSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding: 5px 10%;
  padding: 0 10%;
  margin: 0;
  background-color: #040c3c;
  // background:linear-gradient(0deg, #040c3c 0%, #212c6e 100%);
  user-select: none;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: cover;
}

.accordion {
  width: 100%;
  cursor: pointer;
  padding: 0px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.countdownContainer {
  width: 100%;
  text-align: center;
  font-family: Monospace;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdownUnitContainer {
  display: inline-block;
  margin: 0;
}

.countdownUnit {
  font-size: 50px;
  font-weight: bold;
  line-height: 1em;
  padding: 15px 5px;
  border-radius: 3px;
  background-color: #32385e;
  // color: #040c3c;
  // border: 1px solid #fff;
  // color: #fff;
}

.countdownLabel {
  font-size: 16px;
  margin-top: 10px;
}

.colon {
  display: inline-block;
  font-size: 50px;
  margin-top: -33px;
}

.accordionTitle {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  padding: 0;
  margin: 0;
  display: flex;
}

// .accordionTitle svg {
//   width: 20px;
//   height: 20px;
//   margin-right: 5px;
//   fill: #444;
// }

.accordionContent {
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.annoucementPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px 15px;
  margin: 0;
  // background-color: #fece00;
  color: rgb(229, 232, 240);
  align-items: center;
}

.annoucementPanelInner {
  width: 50%;
}

.panelHeader {
  text-align: center;
}

.annoucementPanelInner p {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.annoucementPanelInner h4 {
  margin-bottom: 20px;
}

.panelButton {
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid rgba(229, 232, 240, 0.4);
  
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
}

.buttonContainer {
  width: 100%;
  text-align: center;
}

.accordionSection .panelLink {
  padding: 0;
  margin: 0 0 20px 0;
  
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.centerPanel {
  text-align: center;
  padding-left: 100px;
}

.panelLink svg {
  stroke: #ff8d00;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
  transition: all 200ms ease-in-out;
}

.panelLink:hover svg {
  stroke: #bb5a00;
}

@media (max-width: 960px) {
  .annoucementPanel {
    flex-direction: column;
    text-align: center;
  }

  .accordionTitle {
    margin-right: 0;
    padding: 10px 0;
    font-size: 12px;
    display: inline-block;
  }

  .accordionTitle svg {
    display: none;
  }

  .dismiss {
    margin-left: auto;
  }

  .annoucementPanelInner {
    width: 100%;
  }

  .annoucementPanelInner p {
    margin-bottom: 30px;
  }

  .centerPanel {
    padding-left: 0;
  }

  .panelButton {
    margin: 10px 0 50px 0;
  }

  .annoucementPanelInner button {
    margin-right: 0;
    width: 100%;
  }

  .accordionSection {
    padding: 0px 10px;
    text-align: center;
  }
}
