header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: top 0.4s ease;
  background: linear-gradient(270deg, #040c3c 0%, #212c6e 100%);
  padding: 0 80px;
}

.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.headerStart {
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo {
  width: 200px;
  margin-right: 25px;
  display: flex;
}

.logo img {
  width: 100%;
}

.divider {
  width: 1px;
  height: 50px;
  margin-right: 25px;
  display: flex;
  background-color: #fff;
}

@media only screen and (max-width: 1275px) {
  header {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 631px) {
  .logo,
  .divider {
    margin-right: 14px;
  }

  header {
    padding: 0 15px;
  }

  .divider {
    height: 40px;
  }

  .logo {
    width: 130px;
  }
  .headerBar {
    height: 80px;
  }
}
