header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: top 0.4s ease;
}

.logo {
  width: 40%;
  margin-right: 25px;
  display: flex;
  align-items: flex-start;
}

.logo img {
  width: 100%;
  height: auto;
}

.divider {
  width: 1px;
  height: 50px;
  margin-right: 25px;
  display: flex;
  background-color: #fff;
}

.headerStart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.headerLinks {
  display: flex;
  align-items: center;
  padding-right: 60px;
  color: #fff;
  white-space:nowrap
}

.headerLinks {
  a:before,
  div:before,
  a:after,
  div:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(255, 141, 0);
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  a:after,
  div:after {
    bottom: 0px;
    transform: translateY(-10px);
  }

  a:hover:after,
  div:hover:after {
    opacity: 1;
    transform: translateY(0px);
  }

  a,
  div {
    position: relative;
    z-index: 0;
    cursor: pointer;
    padding: 5px 0px;
  }
}

.topBotomBordersOut {
  opacity: 1;
  transform: translateY(0px);
}

.link {
  margin-right: 30px;
}

.mobileHeaderLinks {
  display: none;
}

.mobileMenu {
  transition: all 0.5s ease;
  width: 100%;
  left: 0;
  top: 100px;
  height: 0%;
  display: flex;
  position: absolute;
  z-index: 1;
  display: none;
  overflow: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mobileNavLinks {
  color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.mobileNavLink {
  padding: 30px 20px;
  color: white;
  border-bottom: 1px solid #ffffff20;
  display: flex;
}

@media only screen and (max-width: 1100px) {
  .headerLinks {
    display: none;
  }
  .mobileHeaderLinks {
    display: block;
  }
  .mobileMenu {
    display: block;
  }
}

@media only screen and (max-width: 631px) {
  .logo,
  .divider {
    margin-right: 14px;
  }

  .logo {
    width: 45%;
  }
}
