
    <section class="space--xs" id="step-section">
        <div class="container">
            <div class="section-heading row to-animate">
                <div class="col-sm-12 text-center">
                    <h2>{% t 'headings.steps' %}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card-user-profile card-step1">
                        <a href="getting-started.html">
                            <img class="card-user-profile-img" src="/img/getting-started.jpg" alt="{% t 'gettingstarted.title' %} Getting Started Bitcoin Cash" />
                        </a>
                        <div class="card-user-profile-content card-section">
                            <div class="card-user-profile-avatar">
                                <ion-icon name="school"></ion-icon>
                            </div>
                            <p class="card-user-profile-name">{% t 'gettingstarted.subtitle' %}</p>
                            <p class="card-user-profile-status">1. {% t 'gettingstarted.title' %}</p>
                            <p class="card-user-profile-info">{% t 'gettingstarted.excerpt' %}</p>
                        </div>

                        <div class="card-user-profile-actions">
                            <a href="getting-started.html" class="card-user-profile-button btn btn-secondary btn-round secondary">{% t 'viewmore' %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card-user-profile card-step2">
                        <a href="wallets.html">
                            <img class="card-user-profile-img" src="/img/bitcoin-cash-wallet.jpg" alt="{% t 'downloadwallet.title' %} Bitcoin Cash Wallet on iPhone and Macbook" />
                        </a>
                        <div class="card-user-profile-content card-section">
                            <div class="card-user-profile-avatar">
                                <ion-icon name="wallet"></ion-icon>
                            </div>
                            <p class="card-user-profile-name">{% t 'downloadwallet.subtitle' %}</p>
                            <p class="card-user-profile-status">2. {% t 'downloadwallet.title' %}</p>
                            <p class="card-user-profile-info">{% t 'downloadwallet.excerpt' %} </p>
                        </div>

                        <div class="card-user-profile-actions">
                            <a href="wallets.html" class="card-user-profile-button btn btn-secondary btn-round secondary">{% t 'viewmore' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card-user-profile card-step3">
                        <a href="buy-bitcoin-cash.html">
                            <img class="card-user-profile-img" src="/img/buy-bitcoin-cash.jpg" alt="{% t 'buyorearn.title' %} Bitcoin Cash Coin with Coinbase Behind" />
                        </a>
                        <div class="card-user-profile-content card-section">
                            <div class="card-user-profile-avatar">
                                <ion-icon name="cart"></ion-icon>
                            </div>
                            <p class="card-user-profile-name">{% t 'buyorearn.subtitle' %}</p>
                            <p class="card-user-profile-status">3. {% t 'buyorearn.title' %}</p>
                            <p class="card-user-profile-info">{% t 'buyorearn.excerpt' %}</p>
                        </div>

                        <div class="card-user-profile-actions">
                            <a href="buy-bitcoin-cash.html" class="card-user-profile-button btn btn-secondary btn-round secondary">{% t 'viewmore' %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="card-user-profile card-step4">
                        <a href="spend-bitcoin-cash.html">
                            <img class="card-user-profile-img" src="/img/spend-bitcoin-cash.jpg" alt="{% t 'spendbch.title' %} - Tokyo Shibuya Crossing Bitcoin Cash" />
                        </a>
                        <div class="card-user-profile-content card-section">
                            <div class="card-user-profile-avatar">
                                <ion-icon name="gift"></ion-icon>
                            </div>
                            <p class="card-user-profile-name">{% t 'spendbch.subtitle' %}</p>
                            <p class="card-user-profile-status">4. {% t 'spendbch.title' %}</p>
                            <p class="card-user-profile-info">{% t 'spendbch.excerpt' %}</p>
                        </div>

                        <div class="card-user-profile-actions">
                            <a href="spend-bitcoin-cash.html" class="card-user-profile-button btn btn-secondary btn-round secondary">{% t 'viewmore' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">
                    <div class="card-user-profile card-step5">
                        <a href="accept-bitcoin-cash.html">
                            <img class="card-user-profile-img" src="/img/accept-bitcoin-cash.jpg" alt="{% t 'acceptbch.title' %} - iPad accepting Bitcoin Cash" />
                        </a>
                        <div class="card-user-profile-content card-section">
                            <div class="card-user-profile-avatar">
                                <ion-icon name="star"></ion-icon>
                            </div>
                            <p class="card-user-profile-name">{% t 'acceptbch.subtitle' %}</p>
                            <p class="card-user-profile-status">5. {% t 'acceptbch.title' %}</p>
                            <p class="card-user-profile-info">{% t 'acceptbch.excerpt' %}</p>
                        </div>

                        <div class="card-user-profile-actions">
                            <a href="accept-bitcoin-cash.html" class="card-user-profile-button btn btn-secondary btn-round secondary">{% t 'viewmore' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>