<section class="space--xxs" id="faq-section" data-section="faq">
  <div class="container">
    <div class="text-center">
      <img width="400" src="/img/bch-dev-fund.png" alt="Dev Fund">
    </div>

    <p class="pt-4">The campaign has successfully achieved its initial goal of raising 800 BCH. Thank you to all the contributors to the Bitcoin Cash Development Fund. We appreciate your help in increasing economic prosperity by supporting the technical development of Bitcoin Cash.</p>

    <p>This marks the conclusion of the initial phase of the campaign. This initial phase was very important to provide the interim resources needed to continue progress on BCH infrastructure until more permanent funding is secured.</p>

    <p>The fundraising campaign will now shift to the next phase which will pursue ongoing support from large organizations and businesses that are built upon the Bitcoin Cash infrastructure. The goal will be to secure long-term stable support for the developers of Bitcoin Cash to build and maintain the infrastructure necessary to keep Bitcoin Cash competitive and ready for global adoption.</p>
  </div>
</section>
