<a id="projects"></a>
<section class="space--xxs text-center border-bottom" id="projects-section"  data-section="projects">
    <div class="container services">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2>{% t 'headings.projects' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.openbazaar.org/" target="_blank"><img alt="OpenBazaar" src="/img/projects/openbazaar.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="http://joystream.co/" target="_blank"><img alt="Joystream" src="/img/projects/joystream.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://learnbitcoin.cash/" target="_blank"><img alt="Learn Bitcoin Cash" src="/img/projects/learnbitcoincash.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://acceptbitcoin.cash" target="_blank"><img alt="Accept Bitcoin Cash" src="/img/projects/acceptbitcoincash.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://counterparty.cash" target="_blank"><img alt="counterparty.cash" src="/img/projects/xcpcash.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://satoshidice.com/" target="_blank"><img alt="Satoshi Dice" src="/img/projects/satoshidice.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://github.com/dsmurrell/awesome-bitcoin-cash" target="_blank"><img alt="Awesome Bitcoin Cash" src="/img/projects/awesomebitcoincash.png"></a>
            </div>
             <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://pompler.com" target="_blank"><img alt="Pompler" src="/img/projects/pompler.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://cashshuffle.com" target="_blank"><img alt="CashShuffle" src="/img/projects/cashshuffle.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.bitbox.earth" target="_blank"><img alt="BITBOX" src="/img/projects/bitbox.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align">
                <a href="https://www.coinline.co.nz/marco-coino/" target="_blank"><img alt="Marco Coino BCH brick-and-mortar merchant directory" src="/img/projects/marcocoino.png"></a>
            </div>
        </div>
    </div>
</section>