<section class="space--xxs text-center video-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card-user-profile wallet-types">
                    <h3>{% t 'acceptbch.sidetitle' %}</h3>
                    <div class="text-left">
                        <div class="row type">
                            <div class="col-xs-3">
                                <ion-icon name="cart"></ion-icon>
                            </div>
                            <div class="col-xs-9">
                                <h4>{% t 'acceptbch.acceptonline' %}</h4>
                                <p>{% t 'acceptbch.acceptonline_excerpt' %}</p>
                            </div>
                        </div>
                        <div class="row type">
                            <div class="col-xs-3">
                                <ion-icon name="logo-wordpress"></ion-icon>
                            </div>
                            <div class="col-xs-9">
                                <h4>{% t 'acceptbch.wordpress' %}</h4>
                                <p>{% t 'acceptbch.wordpress_excerpt' %}</p>
                            </div>
                        </div>
                        <div class="row type">
                            <div class="col-xs-3">
                                <ion-icon name="calculator"></ion-icon>
                            </div>
                            <div class="col-xs-9">
                                <h4>{% t 'acceptbch.pos' %}</h4>
                                <p>{% t 'acceptbch.pos_excerpt' %}</p>
                            </div>
                        </div>
                        <div class="row type">
                            <div class="col-xs-3">
                                <ion-icon name="heart"></ion-icon>
                            </div>
                            <div class="col-xs-9">
                                <h4>{% t 'acceptbch.donations' %}</h4>
                                <p>{% t 'acceptbch.donations_excerpt' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="card-user-profile text-left">
                    <img class="card-user-profile-img" src="/img/accept-bitcoin-cash.jpg" alt="{% t 'acceptbch.title' %} - iPad accepting Bitcoin Cash" />
                    <div class="card-user-profile-content card-section">
                        <h3 class="card-user-profile-name">{% t 'acceptbch.subtitle' %}</h3>
                        <h1 class="card-user-profile-status">{% t 'acceptbch.title' %}</h1>
                        <p class="card-user-profile-info">{% t 'acceptbch.description' %}</p>
                    </div>
                    <div class="card-user-profile-actions">

                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <a href="spend-bitcoin-cash.html" class="card-user-profile-button btn btn-secondary btn-round secondary">&laquo; {% t 'spendbch.title' %}</a>
        </div>
    </div>
</section>