        <nav id="subNav" class="navbar navbar-default">
       
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="../" class="external" data-nav-section="home"><span>{% t 'specs.sections.home' %}</span></a></li>
                    <li><a href="#" data-nav-section="specifications"><span>{% t 'specs.sections.specifications' %}</span></a></li>

                </ul>
            </div>
        </nav>

