<div class="container">
<nav id="subNav" class="navbar">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="active"><a href="../developers.html" class="external" data-nav-section="home"><span>{% t 'specs.sections.home' %}</span></a></li>
                <li><a href="../specs/" class="external" data-nav-section="specifications"><span>{% t 'specs.sections.specifications' %}</span></a></li>
            </ul>
        </div>
    </nav>
</div>

