<section id="fh5co-home" data-section="home" class="site-header">
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate">{% t 'headings.error403' %}</h1>
                        <h2 class="to-animate">{% t 'error403.subheading' %}</h2>
                        <br>
                        <a class="btn btn-primary" href="../">{% t 'error403.button' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>