<section id="fh5co-home" data-section="home" class="site-header">
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate">Error 404</h1>
                        <h2 class="to-animate">The page you are looking for does not exist.</h2>
                        <br>
                        <a class="btn btn-primary" href="../">GO TO THE HOMEPAGE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>