<footer class="space--xs footer-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="type--fine-print">&copy;
                	<span class="update-year"></span>
                	bitcoincash.org
                </span>
            </div>
            <div class="col-xs-12 text-center">
                <ul class="social-list list-inline list--hover">

                    <li>
                        <a href="https://github.com/bitcoincashorg/bitcoincash.org" target="_blank">
                            <i class="socicon socicon-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://bitcoincashtalk.org" target="_blank">
                            <ion-icon name="globe" role="img" class="hydrated" aria-label="globe"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a class="" href="http://reddit.com/r/btc" target="_blank">
                            <ion-icon name="logo-reddit"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a class="" href="http://reddit.com/r/bitcoincash" target="_blank">
                            <ion-icon name="logo-reddit"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a class="" href="https://btcforks.slack.com/" target="_blank">
                            <ion-icon name="logo-slack"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a class="" href="https://www.facebook.com/bitcoincashorg/" target="_blank">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a class="" href="https://t.me/BitcoinCashUpdates" target="_blank">
                            <ion-icon name="paper-plane"></ion-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
