<footer class="space--xs footer-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <span class="type--fine-print">&copy;
                	<span class="update-year"></span>
                	bitcoincash.org
                </span>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li>
                        <a href="https://www.facebook.com/bitcoincashorg" target="_blank">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/Bitcoincash/" target="_blank">
                            <i class="socicon socicon-reddit icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/bitcoincashorg/bitcoincash.org" target="_blank">
                            <i class="socicon socicon-github icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
