<meta charset="utf-8">
<title>
  {% if page.layout == "meeting-summary" %}
    {{page.title}}
  {% elsif page.layout == "specification" %}
    {{page.title}}
  {% else %}
    {% t page.title %}
  {% endif %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{%- t 'meta.index.description' -%}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{%- t 'meta.index.twitter.title' -%}">
<meta name="twitter:description" content="{%- t 'meta.index.twitter.description' -%}">
<meta name="twitter:image" content="https://www.bitcoincash.org/img/bitcoincash-twitter.png">
<meta property="og:title" content="{%- t 'meta.index.og.title' -%}">
<meta property="og:description" content="{%- t 'meta.index.og.description' -%}">
<meta property="og:image" content="https://www.bitcoincash.org/img/bitcoincash.png">
<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
{%- if layout.graphics -%}
 <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /> 
{% endif -%}
{%- if layout.theme -%}
<link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
{% endif %}
<link href="/css/lang.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/custom.css?v=1" rel="stylesheet" type="text/css" media="all" />
<link href="/css/bootstrap-graphics.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/icomoon.css">
<link rel="stylesheet" href="/css/graphics.css">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
<script src="/js/modernizr-2.6.2.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1814670-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1814670-4');
</script>
