<meta charset="utf-8">
<title>{{ t title.index }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{%- t 'meta.index.description' -%}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{%- t 'meta.index.twitter.title' -%}">
<meta name="twitter:description" content="{%- t 'meta.index.twitter.description' -%}">
<meta name="twitter:image" content="https://www.bitcoincash.org/img/bitcoincash-twitter.png">
<meta property="og:title" content="{%- t 'meta.index.og.title' -%}">
<meta property="og:description" content="{%- t 'meta.index.og.description' -%}">
<meta property="og:image" content="https://www.bitcoincash.org/img/bitcoincash.png">
<link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
{%- if layout.graphics -%}
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
{% endif -%}
{%- if layout.theme -%}
<link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
{% endif %}
<link href="/css/lang.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/custom.css?v=1" rel="stylesheet" type="text/css" media="all" />
<link href="/css/bootstrap-graphics.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/icomoon.css">
<link rel="stylesheet" href="/css/graphics.css">
<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
<script src="/js/modernizr-2.6.2.min.js"></script>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-17656782-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());
gtag('config', 'UA-17656782-2');
</script>