<a id="start"></a>
<header id="fh5co-header">
    <div class="container">
        <nav class="navbar navbar-default">
            {% include site-logo.html %}
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right homepage">
                    <li>
                        <a href="/index.html" class="external">
                            <span>{% t sections.home %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/nodes.html" class="external">
                            <span>{% t 'sections.nodes' %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/wallets.html" class="external">
                            <span>{% t 'sections.wallets' %}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/graphics.html" class="external">
                            <span>{% t 'sections.graphics' %}</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <span class="dropdown__trigger">{% t 'sections.community' %}</span>
                        <div class="dropdown__container">
                            <div class="container">
                                <div class="row">
                                    <div class="dropdown__content col-md-{%- t 'misc.dropdown_md_width' %} col-sm-{%- t 'misc.dropdown_sm_width' -%}">
                                        <ul class="menu-vertical">
                                            <li>

                                                <a href="/services.html" class="external">
                                                    {% t 'sections.services' %}
                                                </a>
                                                
                                            </li>


                                            <li>
                                                <a href="/projects.html" class="external">
                                                    {% t 'sections.projects' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/exchanges.html" class="external">
                                                    {% t 'sections.exchanges' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/developers.html" class="external">
                                                    {% t 'sections.developers' %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/faq.html" class="external">
                            <span>{% t 'sections.faq' %}</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <span class="dropdown__trigger">{% t 'language' %}</span>
                        <div class="dropdown__container">
                            <div class="container">
                                <div class="row">
                                    <div class="dropdown__content lang-menu">
                                        <ul class="menu-vertical">
                                            {% for item in site.data.languages[] %}
                                                <li><a class="external" href="/{% unless item[0] == 'en' %}{{ item[0] | prepend: site.baseurl_root }}{% endunless %}">{{ item[1] }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
    </div>
</header>
