<section class="space--xxs text-center video-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="card-user-profile wallet-types">
                    <h3>Where can I spend Bitcoin Cash?</h3>
                    <div class="text-left">
                        <div class="row type">
                            <div class="col-xs-3">
                                <ion-icon name="cart"></ion-icon>
                            </div>
                            <div class="col-xs-9">
                                <h4>Shop Online</h4>
                                <p>Spend Bitcoin Cash at some of your favourite online retailers.</p>
                            </div>
                        </div>
                        <div class="row type">
                            <div class="col-xs-3">
                                <ion-icon name="pizza"></ion-icon>
                            </div>
                            <div class="col-xs-9">
                                <h4>Spend at Restaurants</h4>
                                <p>Visit restaurants or cafes that accept Bitcoin Cash.</p>
                            </div>
                        </div>
                        <div class="row type">
                            <div class="col-xs-3">
                                <ion-icon name="gift"></ion-icon>
                            </div>
                            <div class="col-xs-9">
                                <h4>Shop in Person</h4>
                                <p>Drop in to over <span class="merchantCount">192</span> physical locations accepting Bitcoin Cash.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-xs-12 col-md-8">
                <div class="card-user-profile text-left">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/OE3QTbgh-p8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="card-user-profile-content card-section">
                        <h3 class="card-user-profile-name">What can I buy with Bitcoin Cash?</h3>
                        <h1 class="card-user-profile-status">Spend Bitcoin Cash</h1>
                        <p class="card-user-profile-info">Donec lobortis luctus cursus. Phasellus volutpat massa massa, id accumsan augue ultrices hendrerit. Donec sed suscipit odio. Duis ut orci eget arcu elementum ornare vel nec massa. Vestibulum ullamcorper tortor nibh, non pretium eros fermentum vel. </p>

                        <p class="card-user-profile-info">Donec lobortis luctus cursus. Phasellus volutpat massa massa, id accumsan augue ultrices hendrerit. Donec sed suscipit odio. Duis ut orci eget arcu elementum ornare vel nec massa. Vestibulum ullamcorper tortor nibh, non pretium eros fermentum vel. </p>
                    </div>
                    <div class="card-user-profile-actions">

                    </div>
            </div>
            </div>
        </div>
    </div>
</section>

<a id="wallets"></a>
<section class="text-center space--none">
    <div class="container">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2>Spend Bitcoin Cash In Person</h2>
            </div>
            <div class="col-xs-12">
                <iframe src="https://marco-coino.firebaseapp.com/marcocoino-embed.html?lat=35.652832&long=139.839478&zoom=2&color=orange" width="500"
                    height="500"></iframe>
                    <p><span class="merchantCount">192</span> businesses listed - Location data by <a href="https://www.coinline.co.nz/marco-coino/" title="Marco Coino" target="_blank">Marco Coino</a></p>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script>

    $.getJSON("https://us-central1-marco-coino.cloudfunctions.net/totalMerchants", function( data ) {
      var count;
      $.each(data, function(key, val) {
        count = val;
      });

      $('.merchantCount').html(count);

    });

</script>