nav {
    margin-top: 23px; // @TODO: Vertically middle align
    font-family: $helveticaNeue;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
  
    @include mobile {
      float: none;
      margin-top: 9px;
      display: block;
      font-size: 16px;
    }
  
    .current {
      font-weight:bold;
    }
  }

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
    color: $darkGray;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0;
    margin-right: 15px;
    letter-spacing: 1px;
    font-weight: 300;

    @include mobile {
        margin: 0 10px;
    }
}

.topnav a:first-child{
    padding-left: 0;
    margin-left: 0;
}
/* Add an active class to highlight the current page */
.topnav .active {
    font-weight: bold;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@include mobile {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@include mobile {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}