/*! Place your custom styles here */
.exchanges .row div.col-sm-4 {
  min-height: 100px;
}

.wallets .row div.col-sm-6 {
  min-height: 100px;
}

.services .row div.col-sm-4 {
  min-height: 90px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.site-header {
  background-image: url(../img/background3.jpg);
  background-size: 100% 100%;
}