/*! Place your custom styles here */
.exchanges .row div.col-sm-4 {
  min-height: 100px;
}

.exchanges .row div.col-sm-4 img {
  margin-bottom: 40px;
}

.wallets .row div.col-sm-6 {
  min-height: 100px;
}

.wallets .row div.col-sm-6 img {
  margin-bottom: 40px;
}

.services .row div.col-sm-4 {
  min-height: 100px;
}

.services .row div.col-sm-4 img {
  margin-bottom: 40px;
}

.benefits .row .col-sm-10 {
  margin-bottom: 20px;
}

.benefits .row:last-child .col-sm-10 {
  margin-bottom: 0;
}

img.nomargin {
  margin: 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.site-header {
  background-image: url(../img/background3.jpg);
  background-size: 100% 100%;
}
