/*! Place your custom styles here */
.exchanges .row div.col-sm-4 {
  min-height: 75px;
}

.wallets .row div.col-sm-6 {
  min-height: 100px;
}

.vertical-align {
  display: flex;
  align-items: center;
}