.accordionSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 10%;
  margin: 0;
  background-color: #fece00;
}

.accordion {
  width: 100%;
  color: #444;
  cursor: pointer;
  padding: 0px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordionTitle {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  padding: 0;
  margin: 0;
  display: flex;
}

.accordionTitle svg {
  width: 20px;
  margin-right: 5px;
  fill: #444;
}

.dismiss {
  width: 12px;
  margin-left: auto;
  transition: all 0.6s ease;
  opacity: 1;
  z-index: 999;
}

.rotate {
  transform: rotate(90deg);
  opacity: 0.5;
}

.accordionContent {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.annoucementPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px 15px;
  margin: 0;
  background-color: #fece00;
  color: #444;
}

.annoucementPanelInner {
  width: 50%;
}

.annoucementPanelInner p {
  margin-bottom: 50px;
}

.annoucementPanelInner h4 {
  margin-bottom: 20px;
}

.panelButton {
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid #444;
  color: #444 !important;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
}

.panelLink {
  padding: 0;
  margin: 0 0 20px 0;
  text-decoration: none;
  color: #444 !important;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.panelLink:hover {
  text-decoration: underline;
}

.centerPanel {
  text-align: center;
  padding-left: 100px;
}

@media (max-width: 960px) {
  .annoucementPanel {
    flex-direction: column;
    text-align: center;
  }

  .accordionTitle {
    margin-right: 50px;
    padding: 10px 0;
  }

  .accordionTitle svg {
    display: none;
  }

  .dismiss {
    margin-left: auto;
  }

  .annoucementPanelInner {
    width: 100%;
  }

  .annoucementPanelInner p {
    margin-bottom: 30px;
  }

  .centerPanel {
    padding-left: 0;
  }

  .panelButton {
    margin: 10px 0 50px 0;
  }

  .annoucementPanelInner button {
    margin-right: 0;
    width: 100%;
  }
}
