<section class="space--xxs" id="getStarted-section"  data-section="getStarted">
    <div class="container">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h3>{% t 'network-upgrade.section-title' %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>{% t 'network-upgrade.highlights.title' %}</h3>
                <ul>
                    {% t 'network-upgrade.highlights.list' %}
                </ul>
                {% t 'network-upgrade.qa' %}
            </div>
        </div>
    </div>
</section>
