<a id="exchanges"></a>
<section class="space--xxs text-center" id="exchanges-section"  data-section="exchanges">
    <div class="container exchanges">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2>{% t 'headings.exchanges' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.coinbase.com/" target="_blank"><img alt="Coinbase" src="/img/exchanges/coinbase.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://bittrex.com" target="_blank"><img alt="Bittrex" src="/img/exchanges/bittrex.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="http://kraken.com" target="_blank"><img alt="Kraken" src="/img/exchanges/kraken.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://cex.io/" target="_blank"><img alt="Cexio" src="/img/exchanges/cexio.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://huobi.com" target="_blank"><img alt="Houbi" src="/img/exchanges/houbi.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="http://coinfloor.co.uk" target="_blank"><img alt="Coinfloor" src="/img/exchanges/coinfloor.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://shapeshift.io/" target="_blank"><img alt="ShapeShift" src="/img/exchanges/shapeshift.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://uphold.com" target="_blank"><img alt="Uphold" src="/img/exchanges/uphold.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.bithumb.com/" target="_blank"><img alt="Bithumb" src="/img/exchanges/bithumb.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.alfacashier.com/" target="_blank"><img alt="ALFAcashier" src="/img/exchanges/alfacashier.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.quadrigacx.com/" target="_blank"><img alt="QuadrigaCX" src="/img/exchanges/quadrigacx.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://evercoin.com/" target="_blank"><img alt="Evercoin" src="/img/exchanges/evercoin.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://coinone.co.kr/" target="_blank"><img alt="Coinone" src="/img/exchanges/coinone.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://bx.in.th/THB/BCH/" target="_blank"><img alt="BX.in.th" src="/img/exchanges/bxinth.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://bitflyer.jp/" target="_blank"><img alt="bitFlyer" src="/img/exchanges/bitflyer.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.binance.com/" target="_blank"><img alt="Binance" src="/img/exchanges/binance.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.bitcoin.de/" target="_blank"><img alt="Bitcoin.de" src="/img/exchanges/bitcoinde.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://godex.io" target="_blank"><img alt="Godex" src="/img/exchanges/godex.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.etoro.com/" target="_blank"><img alt="eToro" src="/img/exchanges/etoro.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.independentreserve.com/" target="_blank"><img alt="Independent Reserve" src="/img/exchanges/independentreserve.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://changenow.io/" target="_blank"><img alt="ChangeNOW" src="/img/exchanges/changenow.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.bitstamp.net/" target="_blank"><img alt="Bitstamp" src="/img/exchanges/bitstamp.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.localbitcoincash.org/" target="_blank"><img alt="LocalBitcoinCash" src="/img/exchanges/localbitcoincash.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://bestrate.org/" target="_blank"><img alt="BestRate" src="/img/exchanges/bestrate.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.coinex.com/" target="_blank"><img alt="Coinex" src="/img/exchanges/coinex.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://coinfalcon.com" target="_blank"><img alt="CoinFalcon" src="/img/exchanges/coinfalcon.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://exmo.com" target="_blank"><img alt="Exmo" src="/img/exchanges/exmo.png"></a>
            </div>
        </div>
    </div>
</section>
