<a id="services"></a>
<section class="space--xxs text-center border-bottom" id="services-section"  data-section="services">
    <div class="container services">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2>{% t 'headings.services' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://bitpay.com" target="_blank"><img alt="Bitpay" src="/img/wallets/bitpay.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://rocketr.net/" target="_blank"><img alt="Rocketr" src="/img/services/rocketr.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.coinpayments.net/" target="_blank"><img alt="CoinPayments" src="/img/services/coinpayments.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://coingate.com/" target="_blank"><img alt="CoinGate" src="/img/services/coingate.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://gourl.io/" target="_blank"><img alt="GoUrl" src="/img/services/gourl.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.alfacoins.com" target="_blank"><img alt="ALFAcoins" src="/img/services/alfacoins.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://blockchair.com/" target="_blank"><img alt="Blockchair" src="/img/services/blockchair.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="http://blockdozer.com/insight/" target="_blank"><img alt="Blockdozer" src="/img/services/blockdozer.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://cash.coin.dance/" target="_blank"><img alt="Coin Dance" src="/img/services/coindance.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://cointext.io" target="_blank"><img alt="Cointext" src="/img/services/cointext.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://coinmix.to/" target="_blank"><img alt="Coinmix" src="/img/services/coinmix.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://tippr.rocketr.net" target="_blank"><img alt="Tippr" src="/img/services/tippr.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.livingroomofsatoshi.com/?sc=bch" target="_blank"><img alt="Living Room Of Satoshi" src="/img/services/livingroomofsatoshi.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.piixpay.com/web/" target="_blank"><img alt="piixPay" src="/img/services/piixpay.png" class="img-rounded"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.bitcoinrewards.com" target="_blank"><img alt="BitcoinRewards" src="/img/services/bitcoinrewards.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.alfatop.me" target="_blank"><img alt="ALFAtop" src="/img/services/alfatopme.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="http://www.chaintip.org" target="_blank"><img alt="ChainTip" src="/img/services/chaintip.png"></a>
            </div>
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.viabtc.com/" target="_blank"><img alt="ViaBTC" src="/img/services/viabtc.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.iPayYou.io/tk/BitcoinCashOrg/" target="_blank"><img alt="I Pay You" src="/img/wallets/ipayyou.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="http://www.memopay.xyz" target="_blank"><img alt="memopay" src="/img/services/memopay.png" class="img-rounded"></a>
            </div><div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://purse.io" target="_blank"><img alt="memopay" src="/img/services/purse.png" class="img-rounded"></a>
            </div>
        </div>
    </div>
</section>
