<section class="space--xxs text-center" id="getStarted-section"  data-section="getStarted">
  <div class="container">
    <div class="row to-animate">
      <div class="col-xs-12 section-heading">
        <h2>{% t 'headings.developers' %}</h2>
      </div>
    </div>

    <div class="row">
      <h2 class="pb-30">Libraries</h2>
      <div class="col-sm-6 item-promo">
        <div class="pop-shadow python-bg text-left">
          <h3><img src="/img/developers/python.svg" height="20" width="20" alt="JavaScript Logo"> Python</h3>
          <h4>BitCash</h4>
          <p>Python’s fastest Bitcoin Cash library. Intuitive and effortless to use.</p>
          <a class="btn btn-secondary btn-round secondary float-right" href="https://sporestack.github.io/bitcash/" target="_blank">View more</a>
        </div>
      </div>

      <div class="col-sm-6 item-promo">
        <div class="pop-shadow js-bg text-left">
          <h3><img src="/img/developers/javascript.svg" height="20" width="20" alt="JavaScript Logo"> JavaScript</h3>
          <h4>BitBox</h4>
          <p>Fully featured, powerful javascript framework for Bitcoin Cash.</p>
          <a class="btn btn-secondary btn-round secondary float-right" href="https://developer.bitcoin.com/bitbox" target="_blank">View more</a>
        </div>
      </div>
    </div>

    <div class="row">
      <h2 class="pb-30">Resources</h2>
      <!-- <div class="col-sm-12 col-lg-6 item-promo">
        <div class="pop-shadow">
          <a href="tech/">
            <p>
              <ion-icon name="git-branch"></ion-icon>
            </p>
          </a>
          <p>
            <a href="tech/">
              <strong>{% t 'developers.getStarted.tech.title' %}</strong>
            </a>
          </p>
        </p>
        <p>{% t developers.getStarted.tech.description %}</p>
        <a href="tech/" class="btn btn-secondary btn-round secondary">View more</a>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 item-promo">
      <div class="pop-shadow">
        <a href="learn/">
          <p>
            <ion-icon name="bulb"></ion-icon>
          </p>
        </a>
        <p>
          <a href="learn/">
            <strong>{% t 'developers.getStarted.learn.title' %}</strong>
          </a>
        </p>
        <p>{% t developers.getStarted.learn.description %}</p>
        <a href="learn/" class="btn btn-secondary btn-round secondary">View more</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-4 item-promo">
      <div class="pop-shadow">
        <a href="tools/">
          <p>
            <ion-icon name="build"></ion-icon>
          </p>
        </a>
        <p>
          <a href="tools/">
            <strong>{% t 'developers.getStarted.tools.title' %}</strong>
          </a>
        </p>

        <p>{% t developers.getStarted.tools.description %}</p>
        <a href="tools/" class="btn btn-secondary btn-round secondary">View more</a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 item-promo">
      <div class="pop-shadow">
        <a href="workgroups/">
          <p>
            <ion-icon name="people"></ion-icon>
          </p>
        </a>
        <p>
          <a href="workgroups/">
            <strong>{% t 'developers.getStarted.workgroups.title' %}</strong>
          </a>
        </p>
        <p>{% t developers.getStarted.workgroups.description %}</p>
        <a href="workgroups/" class="btn btn-secondary btn-round secondary">View more</a>
      </div>
    </div> -->

    <div class="col-sm-12 col-lg-4 item-promo">
      <div class="pop-shadow">
        <a href="specs/">
          <p>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </p>
        </a>
        <p>
          <a href="specs/">
            <strong>{% t 'developers.getStarted.specs.title' %}</strong>
          </a>
        </p>
        <p>{% t developers.getStarted.specs.description %}</p>
        <a href="specs/" class="btn btn-secondary btn-round secondary">View more</a>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4 item-promo">
      <div class="pop-shadow">
        <a href="https://developer.bitcoin.com/badger/" target="_blank">
          <p>
            <ion-icon name="wallet"></ion-icon>
          </p>
        </a>
        <p>
          <a href="https://developer.bitcoin.com/badger/" target="_blank">
            <strong>Badger SDK</strong>
          </a>
        </p>
        <p>Badger Wallet injects an API into pages a user visits to allow apps to request a users's permission to send Bitcoin Cash, send tokens, or authenticate with CashID.</p>
        <a href="https://developer.bitcoin.com/badger/" target="_blank" class="btn btn-secondary btn-round secondary">View more</a>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4 item-promo">
      <div class="pop-shadow">
        <a href="https://developer.bitcoin.com/slp/" target="_blank">
          <p>
            <ion-icon name="git-branch"></ion-icon>
          </p>
        </a>
        <p>
          <a href="https://developer.bitcoin.com/slp/" target="_blank">
            <strong>SLP SDK</strong>
          </a>
        </p>
        <p>Simple Tokens - Secure Tokens on Bitcoin Cash</p>
        <a href="https://developer.bitcoin.com/slp/" target="_blank" class="btn btn-secondary btn-round secondary">View more</a>
      </div>
    </div>

  </div>
</div>
</section>
