<section class="space--xxs text-center" id="getStarted-section"  data-section="getStarted">
    <div class="container">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2>{% t 'headings.developers' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 item-promo">
                <p>
                    <a href="tech/">
                        <i class="fa fa-hdd fa-fw fa-2x"></i>
                    </a>
                </p>
                  <p>
                    <a href="tech/">
                    <strong>{% t 'developers.getStarted.tech.title' %}</strong>
                  </a>
                </p>
                </p>
                <p>{% t developers.getStarted.tech.description %}</p>
                <a href="tech/" class="btn btn-default">View more</a>
            </div>
            <div class="col-sm-12 col-lg-6 item-promo">
                <p>
                    <a href="learn/">
                        <i class="fa fa-lightbulb fa-fw fa-2x"></i>
                    </a>
                </p>
                  <p>
                    <a href="learn/">
                    <strong>{% t 'developers.getStarted.learn.title' %}</strong>
                  </a>
                </p>
                <p>{% t developers.getStarted.learn.description %}</p>
                <a href="learn/" class="btn btn-default">View more</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4 item-promo">
                <p>
                    <a href="tools/">
                        <i class="fa fa-wrench fa-fw fa-2x"></i>
                    </a>
                </p>
                
                  <p>
                    <a href="tools/">
                    <strong>{% t 'developers.getStarted.tools.title' %}</strong>
                  </a>
              </p>

                <p>{% t developers.getStarted.tools.description %}</p>
                <a href="tools/" class="btn btn-default">View more</a>
            </div>
            <div class="col-sm-12 col-lg-4 item-promo">
                <p>
                    <a href="workgroups/">
                        <i class="fas fa-users fa-fw fa-2x"></i>
                    </a>
                </p>
                <p>
                  <a href="workgroups/">
                    <strong>{% t 'developers.getStarted.workgroups.title' %}</strong>
                  </a>
                </p>
                <p>{% t developers.getStarted.workgroups.description %}</p>
                <a href="workgroups/" class="btn btn-default">View more</a>
            </div>
            <div class="col-sm-12 col-lg-4 item-promo">
                <p>
                    <a href="specs/">
                        <i class="fa fa-file-alt fa-fw fa-2x"></i>
                    </a>
                </p>
                <p>
                  <a href="specs/">
                    <strong>{% t 'developers.getStarted.specs.title' %}</strong>
                  </a>
                </p>
                <p>{% t developers.getStarted.specs.description %}</p>
                <a href="specs/" class="btn btn-default">View more</a>
            </div>
        </div>
    </div>
</section>
