<section class="space--xxs text-center" id="getStarted-section"  data-section="getStarted">
    <div class="container">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2>{% t 'headings.developers' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 item-promo">
                <div class="pop-shadow">
                    <a href="tech/">
                        <p>
                            <ion-icon name="git-branch"></ion-icon>
                        </p>
                    </a>
                    <p>
                        <a href="tech/">
                        <strong>{% t 'developers.getStarted.tech.title' %}</strong>
                    </a>
                    </p>
                    </p>
                    <p>{% t developers.getStarted.tech.description %}</p>
                    <a href="tech/" class="btn btn-secondary btn-round secondary">View more</a>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 item-promo">
                <div class="pop-shadow">
                        <a href="learn/">
                            <p>
                                <ion-icon name="bulb"></ion-icon>
                            </p>
                        </a>
                    <p>
                        <a href="learn/">
                        <strong>{% t 'developers.getStarted.learn.title' %}</strong>
                    </a>
                    </p>
                    <p>{% t developers.getStarted.learn.description %}</p>
                    <a href="learn/" class="btn btn-secondary btn-round secondary">View more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4 item-promo">
                <div class="pop-shadow">
                        <a href="tools/">
                            <p>
                                <ion-icon name="build"></ion-icon>
                            </p>
                        </a>                    
                    <p>
                        <a href="tools/">
                        <strong>{% t 'developers.getStarted.tools.title' %}</strong>
                    </a>
                </p>

                    <p>{% t developers.getStarted.tools.description %}</p>
                    <a href="tools/" class="btn btn-secondary btn-round secondary">View more</a>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 item-promo">
                <div class="pop-shadow">
                        <a href="workgroups/">
                            <p>
                                <ion-icon name="people"></ion-icon>
                            </p>
                        </a>
                    <p>
                    <a href="workgroups/">
                        <strong>{% t 'developers.getStarted.workgroups.title' %}</strong>
                    </a>
                    </p>
                    <p>{% t developers.getStarted.workgroups.description %}</p>
                    <a href="workgroups/" class="btn btn-secondary btn-round secondary">View more</a>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 item-promo">
                <div class="pop-shadow">
                        <a href="specs/">
                            <p>
                                <ion-icon name="checkmark-circle-outline"></ion-icon>
                            </p>
                        </a>
                    <p>
                    <a href="specs/">
                        <strong>{% t 'developers.getStarted.specs.title' %}</strong>
                    </a>
                    </p>
                    <p>{% t developers.getStarted.specs.description %}</p>
                    <a href="specs/" class="btn btn-secondary btn-round secondary">View more</a>
                </div>
            </div>
        </div>
    </div>
</section>
