
<nav id="subNav" class="secondary-nav">
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

            <li class="active"><a href="developers.html" class="external" data-nav-section="home"><span>{% t 'developers.sections.home' %}</span></a></li>
            <li><a href="#" data-nav-section="getStarted"><span>{% t 'developers.sections.getStarted' %}</span></a></li>
            <li><a href="#" data-nav-section="news"><span>{% t 'developers.sections.news' %}</span></a></li>
            <li><a href="workgroups.html" class="external">{% t 'sections.workgroups' %}</a></li>

        </ul>
    </div>
</nav>
