<section class="space--xxs text-center gray border-bottom" id="news-section"  data-section="news">
    <div class="container services">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2>{% t 'headings.news' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 vertical-align to-animate">
                <a href="tech/">
                  Tech
                </a>
            </div>
            <div class="col-sm-12 col-lg-6 vertical-align to-animate">
                <a href="learn/">
                  Learn
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6 vertical-align to-animate">
                <a href="tools/">
                  Tools
                </a>
            </div>
            <div class="col-sm-12 col-lg-6 vertical-align to-animate">
                <a href="specs/">
                  Specs
                </a>
            </div>
        </div>
    </div>
</section>
