<section id="fh5co-home" data-section="home" class="site-header">
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate">{% t 'tools.title' %}</h1>
                        <h2 class="to-animate">{% t 'tools.description' %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>
