<a id="javascript"></a>
<section class="space--xxs text-center gray border-bottom" id="javascript-section"  data-section="javascript">
    <div class="container services">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2 class="to-animate">{% t 'tools.javascript.title' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3 vertical-align to-animate">
                <a href="https://www.bitbox.earth" target="_blank"><img alt="BITBOX" src="/img/projects/bitbox.png"></a>
            </div>
        </div>
    </div>
</section>
