<a id="faq"></a>
<section class="space--xxs" id="faq-section" data-section="faq">
    <div class="container">
        <!-- HOW TO UPGRADE -->
        <div class="row text-center to-animate">
            <div class="col-xs-12 section-heading">
                <h2>BCH Scaling for the Globe: Bitcoin Cash 2020 ForkDay Celebration</h2>
            </div>
        </div>
		
	<!-- ADAPTED FROM HEADER -->		
        <div class="row">
            <div class="col-xs-12">
            <p class="question to-animate">Celebrate Bitcoin Cash's Birthday on 1 Aug 2020 at 11:00 UTC</p>

			 
		<p class='to-animate'>Bitcoin Cash celebrates its third birthday this 1 Aug 2020 as censorship-resistant peer-to-peer electronic cash for the world that actually scales.</p>

		<p class='to-animate'>In celebration, an online conference is being held from 1 Aug 2020 11:00 UTC / 13:00 CEST / 19:00 Beijing / 07:00 New york titled “BCH Scaling for the Globe: Bitcoin Cash 2020 ForkDay Celebration”.</p>

		<p class='to-animate'>For full information, visit and share <a href="https://www.BitcoinCash.org/2020forkday.html">BitcoinCash.org/2020forkday.html</a>.</p>

		<p class='to-animate'>Our goal is to get the Bitcoin Cash ecosystem excited about building the future of Bitcoin Cash, and to celebrate BCH’s third birthday.</p>

		<p class='to-animate'>Do you want to give a talk? Organize a panel discussion? Or propose some other creative use of a 30- or 60-minute time slot? Please fill out this onboarding form and let us know your proposal.</p>

		<p class='to-animate'>Fill out the speaker and sponsor onboarding form here: <a href="https://forms.gle/4AupQ5SqQb2WnZ9o6">https://forms.gle/4AupQ5SqQb2WnZ9o6</a></p>

		<p class='to-animate'>The event will consist of the following:</p>
		<ul>
			<li>main stage talks and panel discussions</li>
			<li>breakout sessions around specific topics that can run parallel with other events</li>
			<li>a business expo where you can show off your Bitcoin Cash project </li>
			<li>a “speed networking” feature where you can connect one-on-one with other conference participants and exchange business contact information</li>
		</ul>

		<p class='to-animate'>We are offering sponsorship opportunities as well. For 2 BCH, place your logo among the event sponsors with a link back where feasible. We will also include your logo on the event main page as well as in event publicity on social media and wherever else feasible.</p>

		<p class='to-animate'>Join us 1 Aug 2020 from 11:00 UTC for Bitcoin Cash’s third birthday, and let’s keep building! Together, we are serving and empowering the world with censorship-resistant peer-to-peer global-scale electronic cash! </p>

			 <p class="question to-animate">Questions?</p>

		<p class='to-animate'>Contact George Donnelly <a href="mailto:george@bitcoinabc.org">george@bitcoinabc.org</a> or <a href="https://t.me/georgedonnelly">@georgedonnelly</a> on Telegram.</p>
			 
			 
            </div>
        </div>


    </div>
</section>



