<a id="projects"></a>
<section class="space--xxs border-bottom" id="projects-section"  data-section="projects">
    <div class="container">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading text-center">
                <h2>Legal</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-lg-push-2 to-animate">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          1. Information published on BitcoinCash.org
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        The website https://BitcoinCash.org/ (hereinafter, referred to as the "Website") provides information and material of a general nature. You are not authorized and nor should you rely on the Website for legal advice, business advice, or advice of any kind. You act at your own risk in reliance on the contents of the Website. Should you make a decision to act or not act you should contact a licensed attorney in the relevant jurisdiction in which you want or need help. In no way are the owners of, or contributors to, the Website responsible for the actions, decisions, or other behavior taken or not taken by you in reliance upon the Website.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                          2. Translations
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        The Website may contain translations of the English version of the content available on the Website. These translations are provided only as a convenience. In the event of any conflict between the English language version and the translated version, the English language version shall take precedence. If you notice any inconsistency, please report them on GitHub.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                          3. Risks related to the use of Bitcoin Cash
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        The Website will not be responsible for any losses, damages or claims arising from events falling within the scope of the following five categories:

                        (1) Mistakes made by the user of any Bitcoin Cash-related software or service, e.g., forgotten passwords, payments sent to wrong Bitcoin Cash addresses, and accidental deletion of wallets.

                        (2) Software problems of the Website and/or any Bitcoin Cash-related software or service, e.g., corrupted wallet file, incorrectly constructed transactions, unsafe cryptographic libraries, malware affecting the Website and/or any Bitcoin Cash-related software or service.

                        (3) Technical failures in the hardware of the user of any Bitcoin Cash-related software or service, e.g., data loss due to a faulty or damaged storage device.

                        (4) Security problems experienced by the user of any Bitcoin Cash-related software or service, e.g., unauthorized access to users' wallets and/or accounts.

                        (5) Actions or inactions of third parties and/or events experienced by third parties, e.g., bankruptcy of service providers, information security attacks on service providers, and fraud conducted by third parties.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">                    
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                          4. Investment risks
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body">
                        The investment in Bitcoin Cash can lead to loss of money over short or even long periods. The investors in Bitcoin Cash should expect prices to have large range fluctuations. The information published on the Website cannot guarantee that the investors in Bitcoin Cash would not lose money.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                          5. Compliance with tax obligations
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                      <div class="panel-body">
                        The users of the Website are solely responsible to determinate what, if any, taxes apply to their Bitcoin Cash transactions. The owners of, or contributors to, the Website are NOT responsible for determining the taxes that apply to Bitcoin Cash transactions.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                          6. The Website does not store, send, or receive Bitcoin Cash
                        </a>
                      </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                      <div class="panel-body">
                        The Website does not store, send or receive Bitcoin Cash. This is because Bitcoin Cash exist only by virtue of the ownership record maintained in the Bitcoin Cash network. Any transfer of title in Bitcoin Cash occurs within a decentralized Bitcoin Cash network, and not on the Website.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                          7. No warranties
                        </a>
                      </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                      <div class="panel-body">
                        The Website is provided on an "as is" basis without any warranties of any kind regarding the Website and/or any content, data, materials and/or services provided on the Website.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                          8. Limitation of liability
                        </a>
                      </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                      <div class="panel-body">
                        Unless otherwise required by law, in no event shall the owners of, or contributors to, the Website be liable for any damages of any kind, including, but not limited to, loss of use, loss of profits, or loss of data arising out of or in any way connected with the use of the Website.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                          9. Arbitration
                        </a>
                      </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                      <div class="panel-body">
                        The user of the Website agrees to arbitrate any dispute arising from or in connection with the Website or this disclaimer, except for disputes related to copyrights, logos, trademarks, trade names, trade secrets or patents.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                          10. Last amendment
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                      <div class="panel-body">
                        This disclaimer was amended for the last time on December 27th, 2018.
                      </div>
                    </div>
                  </div>
                  
                </div>

            </div>
            
        </div>
    </div>
</section>