.heroContainer {
    display:flex;
    width:100%;
    padding:0 10%;
    justify-content: space-between;
    margin-bottom:100px;
}

.heroText {
    display:flex;
    flex-direction: column;
    flex:5;
    padding-top:100px;
}

.heroBtnBar {
    display:flex;
    flex-wrap:wrap;
    padding-top:30px;
}

.heroTitle {
    padding-right:40px;
}

.heroImg {
    filter:contrast(1.5);
}

.heroImageContainer {
    flex:5;
    position:relative;
    top:100px;
    max-width:750px;
}

@media only screen and (max-width: 1300px) {
    .heroContainer {
        flex-direction: column;
        align-items:center;
    }
}

@media only screen and (max-width: 631px) {
    .heroText {
        padding-top:50px;
    }

    .heroImageContainer {
        top:50px;
    }
}

/* @media only screen and (max-width: 1450px) {
    .heroImageContainer {
        max-width: 600px;
        top:102px;
    }
  }

  @media only screen and (max-width: 1275px) {
    .heroImageContainer {
        max-width: 450px;
        min-width:400px;
        top:66px;
    }

    .heroImg {
        width:100%;
        height:324px;
    }

    .heroText {
        padding-top:50px;
    }
    .heroTitle {
        padding-right:57px;
    }
  }

  @media only screen and (max-width: 1145px) {
      .heroContainer {
          padding: 0 100px;
      }
    .heroImageContainer {
        max-width: 300px;
        min-width:308px;
        top:52px;
    }
    .heroImg {
        height:250px;
    }
    .heroBody {
        padding-right:27px;
    }
    .heroText {
        padding-right:196px;
    }
    .heroTitle {
        padding-right:87px;
    }
  }


  @media only screen and (max-width: 1100px) {
      .heroImageContainer {
          right: 100px;
      }
  }      

  @media only screen and (max-width: 990px) {
    .heroImg {
      height:227px;
    }
    .heroImageContainer {
        min-width:258px;
    }
  }
  
  @media only screen and (max-width: 950px) {
    .heroImageContainer {
        right: 162px;
    }
  }
  
  @media only screen and (max-width: 875px) {
    .heroImageContainer {
        right: 162px;
    }
  }
   */