<section class="space--xxs text-center">
    <div class="container">
        <div class="row whitepaper">
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_id.pdf">
                        <h4>
                            Bahasa Indonesia
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/christahir">Christopher Tahir</a>, Gregorius Airlangga, <a href="https://github.com/khendraw">K Hendrawan</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_de.pdf">
                        <h4>
                            Deutsch
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/99coins">99coins</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_es.pdf">
                        <h4>
                            Español (España)
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/breathingdog">Breathingdog</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_es_latam.pdf">
                        <h4>
                            Español (Latinoamericano)
                        </h4>
                    </a>
                    <small><span>translated by</span><a href="https://github.com/gubatron">Angel León</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_fr.pdf">
                        <h4>
                            Français
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/Arnaud-Francois-Fausse">Arnaud-François
                            Fausse</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_it.pdf">
                        <h4>
                            Italiano
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/terzim">Terzim</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_lt.pdf">
                        <h4>
                            Lietuvių Kalba
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/DDomas">Domas Dranginis</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_hu.pdf">
                        <h4>
                            Magyar Nyelv
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/Balaxi">Balaxi</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_nl.pdf">
                        <h4>
                            Nederlands
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/Giftbitnl">GiftBitNL</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_no.pdf">
                        <h4>
                            Norsk (Bokmål)
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://kryptografen.no">Kryptografen.no</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_pl.pdf">
                        <h4>
                            Polski
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/meeDamian">meeDamian</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_pt.pdf">
                        <h4>
                            Português
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/rhlinden">rhlinden</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_pt_br.pdf">
                        <h4>
                            Português Brasileiro
                        </h4>
                    </a>
                    <small><span>translated by</span><a href="https://www.linkedin.com/in/rodrigosilvap">Rodrigo Silva
                            Pinto</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_ro.pdf">
                        <h4>
                            Română
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/IkeGDB">IkeGDB</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_sk.pdf">
                        <h4>
                            Slovenščina
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/OndroS">Ondrej Sarnecký</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_se.pdf">
                        <h4>
                            Svenska
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/hanspandeya">hanspandeya</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_gr.pdf">
                        <h4>
                            ελληνικά
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/chdimosthenis">chdimosthenis</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_iw.pdf">
                        <h4>
                            עברית
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/ZeevBB">ZeevBB</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_ru.pdf">
                        <h4>
                            Русский
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/arvicco">Ar Vicco</a>, <a href="https://github.com/nik0x01">Ivan Nikolaev</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_vi.pdf">
                        <h4>
                            Tiếng Việt
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/pcdinh">Pham Cong Dinh</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_uk.pdf">
                        <h4>
                            Yкраїнська
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://t.me/wtfbit">WTFBit</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_ar.pdf">
                        <h4>
                            العربية
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/alsayadi">Ahmed Alsayadi</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_fa.pdf">
                        <h4>
                            پارسی
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/ZeeAmini">ZeeAmini</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_ko.pdf">
                        <h4>
                            한국어
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/imc84">Mincheol Im</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_jp.pdf">
                        <h4>
                            日本語
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/cryptohakka">hakka</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_th.pdf">
                        <h4>
                            ภาษาไทย
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/PeeraphatHan">Peeraphat Hankongkaew</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 vertical-align to-animate">
                <div class="card">
                    <a href="/whitepaper/bitcoin_zh_cn.pdf">
                        <h4>
                            简化字
                        </h4>
                    </a>
                    <small><span>translated by</span>
                        <a href="https://github.com/shdxiang">shdxiang</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>