.widgetContainer {
  display: flex;
  border: 1px solid white;
  border-radius: 3px;
  align-items: center;
  padding: 5px 15px;
}

.currentPrice {
  padding-right: 5px;
}

.ticker {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}

@media only screen and (max-width: 631px) {
  .ticker {
    font-size: 12px;
  }

  .widgetContainer {
    padding: 5px 10px;
  }
}