<a id="projects"></a>
<section class="space--xxs border-bottom" id="projects-section"  data-section="projects">
  <div class="container services">
    <div class="row to-animate">
      <div class="col-xs-12 section-heading text-center">
        <h2>{% t 'headings.roadmap' %}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 col-lg-push-2 to-animate">
        <p>{% t 'roadmap.intro.goal' %}</p>
        <p>{% t 'roadmap.intro.expl' %}</p>
        <p>{% t 'roadmap.intro.design' %}</p>
      </div>
    </div>
  </div>

  <div class="container roadmap text-center">
    <div class="row rm-legend">
      <div class="col-sm-12 col-md-4 to-animate lg-complete">
        <p><ion-icon class="complete" name="checkmark-circle"></ion-icon> {% t 'roadmap.complete' %}</p>
      </div>
      <div class="col-sm-12 col-md-4 to-animate lg-underway">
        <p><ion-icon class="underway" name="cog"></ion-icon> {% t 'roadmap.underway' %}</p>
      </div>
      <div class="col-sm-12 col-md-4 to-animate lg-planned">
        <p><ion-icon class="planned" name="add-circle"></ion-icon> {% t 'roadmap.planned' %}</p>
      </div>
    </div>
    <div class="row rm-title-row">
      <div class="col-sm-12 col-md-4 to-animate col-md-push-4 rm-title">
        <img src="/media-kit/3-bitcoin-cash-logo-ot-medium.png" alt="Bitcoin Cash roadmap">
        <h3 class="rm-col-title">
          {% t 'roadmap.roadmap' %}
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 to-animate rm-scaling">
        <h3 class="rm-col-title">
          {% t 'roadmap.scaling' %}
        </h3>
        <ul class="rm-list">
          <li>
            <h4>{% t 'roadmap.ctor' %}</h4>
            <p>{% t 'roadmap.scal_block_proc' %}</p>
            <ion-icon class="complete" name="checkmark-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.faster' %}</h4>
            <p>{% t 'roadmap.graphene' %}</p>
            <ion-icon class="underway" name="cog"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.merklix' %}</h4>
            <p>{% t 'roadmap.scal_block_proc' %}</p>
            <ion-icon class="planned" name="add-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.utxo' %}</h4>
            <p>{% t 'roadmap.pruning' %}</p>
            <ion-icon class="underway" name="cog"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.schnorr' %}</h4>
            <p>{% t 'roadmap.batched' %}</p>
            <ion-icon class="complete" name="checkmark-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.adaptive' %}</h4>
            <p>{% t 'roadmap.1TB' %}</p>
            <ion-icon class="planned" name="add-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.scale' %}</h4>
            <p>{% t 'roadmap.50tx' %}</p>
            <ion-icon name="rocket"></ion-icon>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 to-animate rm-usability">
        <h3 class="rm-col-title">
          {% t 'roadmap.usability' %}
        </h3>
        <ul class="rm-list">
          <li>
            <h4>{% t 'roadmap.CashAddr' %}</h4>
            <p>{% t 'roadmap.easier' %}</p>
            <ion-icon class="complete" name="checkmark-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.Sighash' %}</h4>
            <p>{% t 'roadmap.hw' %}</p>
            <ion-icon class="complete" name="checkmark-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.fee' %}</h4>
            <p>{% t 'roadmap.cheaper' %}</p>
            <ion-icon class="underway" name="cog"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.pre' %}</h4>
            <p>{% t 'roadmap.instant' %}</p>
            <ion-icon class="underway" name="cog"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.fract' %}</h4>
            <p>{% t 'roadmap.low' %}</p>
            <ion-icon class="planned" name="add-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.best' %}</h4>
            <p>{% t 'roadmap.secure_low' %}</p>
            <ion-icon name="ribbon"></ion-icon>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 to-animate rm-extensibility">
        <h3 class="rm-col-title">
          {% t 'roadmap.extensibility' %}
        </h3>
        <ul class="rm-list">
          <li class="pad">
            <h4>{% t 'roadmap.basic' %}</h4>
            <ion-icon class="complete" name="checkmark-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.223B' %}</h4>
            <p>{% t 'roadmap.social' %}</p>
            <ion-icon class="complete" name="checkmark-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.cds' %}</h4>
            <p>{% t 'roadmap.oracles' %}</p>
            <ion-icon class="complete" name="checkmark-circle"></ion-icon>
          </li>
          <li class="pad">
            <h4>{% t 'roadmap.more_basic' %}</h4>
            <ion-icon class="underway" name="cog"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.tx_format' %}</h4>
            <p>{% t 'roadmap.compact' %}</p>
            <ion-icon class="planned" name="add-circle"></ion-icon>
          </li>
          <li>
            <h4>{% t 'roadmap.token' %}</h4>
            <p>{% t 'roadmap.traded' %}</p>
            <ion-icon name="ribbon"></ion-icon>
          </li>
        </ul>
      </div>
    </div>
    <div class="row rm-finale">
      <div class="col-sm-12 col-md-4 to-animate col-md-push-4 rm-complete">
        <h3 class="rm-col-title rm-col-title-last">
          <ion-icon class="complete" name="checkmark-circle"></ion-icon>
          {% t 'roadmap.protocol_complete' %}
        </h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 col-lg-push-2 to-animate">
        <p>
          <b>{% t 'roadmap.intro.list-title' %}</b>
          <ol>
            <li>{% t 'roadmap.intro.list-1' %}</li>
            <li>{% t 'roadmap.intro.list-2' %}</li>
            <li>{% t 'roadmap.intro.list-3' %}</li>
          </ol>
        </p>
        <p>{% t 'roadmap.intro.upgrade-schedule-1' %}</p>
        <p>{% t 'roadmap.intro.upgrade-schedule-2' %}</p>
        <p>{% t 'roadmap.intro.upgrade-schedule-3' %}</p>
        <p>{% t 'roadmap.intro.end' %}</p>
      </div>
    </div>
  </div>
</section>
