<a id="faq"></a>
<section class="space--xxs" id="faq-section" data-section="faq">
    <div class="container">
        <!-- HOW TO UPGRADE -->
        <div class="row text-center to-animate">
            <div class="col-xs-12 section-heading">
                <h2>{% t 'headings.upgrade' %}</h2>
            </div>
        </div>
		
	<!-- ADAPTED FROM HEADER -->		
        <div class="row">
            <div class="col-xs-12">
            <p class="question to-animate">{% t 'networkupgrade.date-2020-05-15' %} {% t 'networkupgrade.title' %}</p>
			<p class='to-animate'>{% t 'networkupgrade.description' %}</p>
            </div>
        </div>
		
        <div class="row text-center to-animate pt-5">
            <div class="col-xs-12">		
         <p class="question to-animate">{% t 'networkupgrade.compatible' %}:</p>
         <p class='to-animate'><a href="https://download.bitcoinabc.org/latest/" title="Bitcoin ABC 0.21.x" target="_blank">
             <ion-icon name="link"></ion-icon> Bitcoin ABC 0.21.x</a></p>
         <p class='to-animate'><a href="https://github.com/gcash/bchd/releases/tag/v0.16.0" title="BCHD 0.16.0" target="_blank">
             <ion-icon name="link"></ion-icon> BCHD 0.16.0</a></p>
         <p class="question to-animate">{% t 'networkupgrade.additional' %}:</p>
         <p class='to-animate'><a href="https://www.bitcoincash.org/spec/2020-05-15-upgrade.html" title="Upgrade Specification" target="_blank">
             <ion-icon name="link"></ion-icon> {% t 'networkupgrade.specification' %}</a></p>
        <p class="question to-animate">{% t 'networkupgrade.additional' %}:</p>
        <p class='to-animate'><a href="https://github.com/bitcoincashorg/bitcoincash.org/blob/master/workgroups/wg-testing/2020-05-15_upgrade_testnet.md" title="Testnet Information" target="_blank">
         <ion-icon name="link"></ion-icon> {% t 'networkupgrade.testnet' %}</a></p>
      		</div>
   	 </div>	


    </div>
</section>
