---
layout: page
---

{% include developers/workgroups/menu.html %}

<section id="fh5co-home" data-section="home" class="site-header"  style="padding-top: 0 !important">
  <div class="container">
      <div class="text-wrap">
          <div class="text-inner">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h1 class="to-animate">{% t developers.workgroups.{{page.workgroup}}.title %}</h1>
                      <h2 class="to-animate">{% t developers.workgroups.{{page.workgroup}}.description %}</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-specifications" data-section="content">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              {{ content }}
          </div>
      </div>
  </div>
</section>
