.header {
  margin-top: 60px;
}

.linkcontainer a {
  color: #444;
  transition: all 200ms ease-in-out;
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: underline;
}

.linkcontainer svg {
  stroke: #ff8d00;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.linkcontainer a:hover {
  color: #ff8d00;
}

@media (max-width: 760px) {
  .header {
    margin-top: 30px;
  }
}
