<section id="fh5co-home" data-section="home" class="home site-header">
    <div class="container">
        <div class="row">
            <div class="hero-logo to-animate col-sm-8 col-md-9 col-lg-7">
                <h3>{% t 'layout.lead' %}</h3>
                <!-- <h5>Faster, Cheaper, More Reliable.</h5> -->
                <h4>{% t 'layout.leadsubtitle' %}</h4>

                <a href="#step-section" class="btn btn-default inner-link" data-scroll-class="-30vh:active">{% t 'layout.herobutton_one' %}</a>
                <a href="wallets.html" class="btn btn-default">{% t 'layout.herobutton_two' %}</a>


            </div>
            <div class="col-sm-12 text-center mt-2">
                <h5 class="reminder"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Reminder: November 15th, 2018 Planned Network Upgrade</h5>
            </div>
        </div>
    </div>
    <span id="ticker_value" class="to-animate">{% t 'layout.loading' %}</span>
    <div class="slant"></div>
</section>