<div class="reminder-bar">
 <div class="panel-default container">
  <div class="row">
  <div>
      <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="event.preventDefault();">
              <ion-icon name="construct"></ion-icon>
              {% t 'networkupgrade.reminder' %}: {% t 'networkupgrade.date-2019-11-15' %} {% t 'networkupgrade.title' %}
          </a>
      </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
      <div class='col-sm-12 col-md-6'>
          <h3>{% t 'networkupgrade.date-2019-11-15' %} {% t 'networkupgrade.title' %}</h3>
          <p>{% t 'networkupgrade.description' %}</p>

          <a href="#" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne" onclick="event.preventDefault();"><ion-icon name="close"></ion-icon> {% t 'networkupgrade.close' %}</a>
          <a href="roadmap.html" class="btn btn-secondary inner-link"><ion-icon name="git-merge"></ion-icon> {% t 'headings.roadmap' %}</a>

      </div>
        <div class="col-sm-12 col-md-6 text-center reminder-links">
          <h4>{% t 'networkupgrade.compatible' %}:</h4>
          <a href="https://download.bitcoinabc.org/0.20.0/" title="Bitcoin ABC 0.20.0" target="_blank">
              <ion-icon name="link"></ion-icon> Bitcoin ABC 0.20.0
          </a>
<!-- 
          <a href="https://github.com/gcash/bchd/releases/tag/v0.14.2" title="BCHD 0.14.2" target="_blank">
              <ion-icon name="link"></ion-icon> BCHD 0.14.2
          </a>
          <a href="https://github.com/bitprim/bitprim/releases/tag/v0.19.0" title="Bitprim 0.19.0" target="_blank">
              <ion-icon name="link"></ion-icon> Bitprim 0.19.0
          </a>
          <a href="https://github.com/BitcoinUnlimited/BitcoinUnlimited/releases/tag/bucash1.6.0.0" title="Bitcoin Unlimited Cash Edition 1.6.0.0">
              <ion-icon name="link"></ion-icon> Bitcoin Unlimited Cash Edition 1.6.0.0
          </a>
-->
          <h4>{% t 'networkupgrade.additional' %}:</h4>
          <a href="https://github.com/bitcoincashorg/bitcoincash.org/blob/master/spec/2019-11-15-upgrade.md" title="Upgrade Specification" target="_blank">
              <ion-icon name="link"></ion-icon> {% t 'networkupgrade.specification' %}
          </a>

          <a href="https://github.com/bitcoincashorg/bitcoincash.org/blob/master/workgroups/wg-testing/2019-11-15_upgrade_testnet.md" title="Testnet Information" target="_blank">
           <ion-icon name="link"></ion-icon> {% t 'networkupgrade.testnet' %}
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- <div class="reminder-bar">
  <div class="panel-default container">
    <div class="row">
      <h4 class="panel-title">
          <a>
            <ion-icon name="checkmark"></ion-icon>
            {% t 'networkupgrade.completedescription' %}
          </a>
      </h4>
    </div>
  </div>
</div> -->

<section id="fh5co-home" data-section="home" class="home site-header">
  <div class="container">
    <div class="row">
      <div class="hero-logo to-animate col-sm-8 col-md-9 col-lg-7">
        <h3>{% t 'layout.lead' %}</h3>
        <h4>{% t 'layout.leadsubtitle' %}</h4>

        <a href="#step-section" class="btn btn-default inner-link" data-scroll-class="-30vh:active">{% t 'layout.herobutton_one' %}</a>
        <a href="wallets.html" class="btn btn-default">{% t 'layout.herobutton_two' %}</a>
      </div>
    </div>
  </div>
  <span id="ticker_value" class="to-animate">{% t 'layout.loading' %}</span>
  <div class="slant"></div>
</section>
