<section class="space--xxs" data-section="history" id="history-section">
    <div class="container">
        <div class="row text-center section-heading to-animate">
            <div class='col-sm-12'>
                <h2>{% t 'headings.history' %}</h2>
            </div>
        </div>
        <div class="row to-animate">
            <div class="col-sm-12 col-md-12">
                {% for c in site.translations[site.lang]["content"]["history"] %}
                <p>{{ c }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
