<a id="nodes"></a>
<section class="space--xxs text-center gray border-bottom" id="nodes-section"  data-section="nodes">
    <div class="container nodes">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2>{% t 'headings.nodes' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 vertical-align to-animate">
                <a href="https://www.bitcoinabc.org/" target="_blank"><img alt="Bitcoin ABC" src="/img/wallets/bitcoinabc.png"></a>
            </div>
            <div class="col-sm-6 col-md-6 vertical-align to-animate">
                <a href="https://www.bitcoinunlimited.info/download" target="_blank"><img alt="Bitcoin Unlimited" src="/img/wallets/bitcoinunlimited.png"></a>
            </div>
            <div class="col-sm-6 col-md-6 vertical-align to-animate">
                <a href="https://bitcoinxt.software/" target="_blank"><img alt="BitcoinXT" src="/img/wallets/bitcoinxt.png"></a>
            </div>
            <div class="col-sm-6 col-md-6 vertical-align to-animate">
                <a href="https://github.com/paritytech/parity-bitcoin/" target="_blank"><img alt="Parity Bitcoin" src="/img/wallets/parity.png"></a>
            </div>
            <div class="col-sm-6 col-md-6 vertical-align to-animate">
                <a href="https://www.bitprim.org/" target="_blank"><img alt="Bitprim" src="/img/wallets/bitprim.png"></a>
            </div>
            <div class="col-sm-12 text-center">
                <a href="/get-listed.html" class="btn btn-default">{% t 'headings.listingrequest' %}</a>
            </div>
        </div>
    </div>
</section>