<section class="space--xxs" id="roadmap">
    <div class="container">
        <div class="community-cta section-heading to-animate">
            <div class="col-sm-12 col-lg-8 col-lg-offset-2 text-center">
                <p><strong>{% t 'headings.roadmap' %}</strong></p>
                <p>To become a solid base for application development and innovation, Bitcoin Cash must continuously improve and compete. Working together, we can build a technical foundation to empower Bitcoin Cash to be the best money the world has ever seen.</p>
                
                <a class="btn btn-primary large btn-round" href="roadmap.html">
                   View The Roadmap
                </a>
                
            </div>
        </div>
    </div>
</section>