<a id="wallets"></a>
<section class="space--xxs text-center gray border-bottom" id="wallets-section" data-section="wallets">
    <div class="container wallets">
        <div class="row to-animate">
            <div class="col-xs-12 section-heading ">
                <h2>{% t 'headings.wallets' %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="http://www.ledgerwallet.com/" target="_blank"><img alt="Ledger" src="/img/wallets/ledger.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://wallet.trezor.io/" target="_blank"><img alt="Trezor" src="/img/wallets/trezor.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://support.keepkey.com/support/solutions/articles/24000012739-bitcoin-cash-update-8-29-17" target="_blank"><img alt="KeepKey" src="/img/wallets/keepkey.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://electroncash.org/" target="_blank"><img alt="Electron Cash" src="/img/wallets/electroncash.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.bitcoin.com/choose-your-wallet/bitcoin-com-wallet" target="_blank"><img alt="Bitcoin.com" src="/img/wallets/bitcoindotcom.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.exodus.io/" target="_blank"><img alt="Exodus" src="/img/wallets/exodus.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://breadapp.com/" target="_blank"><img alt="Bread" src="/img/wallets/bread.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://edgesecure.co/" target="_blank"><img alt="Edge" src="/img/wallets/edge.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.coinbase.com/" target="_blank"><img alt="Coinbase" src="/img/exchanges/coinbase.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://bcc-wallet.btc.com/" target="_blank"><img alt="BCC Wallet" src="/img/wallets/btcdotcom.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.mobi.me/" target="_blank"><img alt="Mobi" src="/img/wallets/mobi.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://blog.bitpay.com/bitcoin-cash-wallet-beta/" target="_blank"><img alt="Copay" src="/img/wallets/copay.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://bitpay.com/wallet" target="_blank"><img alt="Bitpay Wallet" src="/img/wallets/bitpay.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://jaxx.io/" target="_blank"><img alt="Jaxx" src="/img/wallets/jaxx.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://stashcrypto.com/" target="_blank"><img alt="Stash Wallet" src="/img/wallets/stashwallet.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://strongcoin.com/" target="_blank"><img alt="StrongCoin" src="/img/wallets/strongcoin.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.wmtransfer.com/" target="_blank"><img alt="Web Money" src="/img/wallets/webmoney.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://coinomi.com/" target="_blank"><img alt="Coinomi" src="/img/wallets/coinomi.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.melis.io/" target="_blank"><img alt="Melis" src="/img/wallets/melisio.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.coin.space" target="_blank"><img alt="Coin Space" src="/img/wallets/coinspace.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.coldlar.com/" target="_blank"><img alt="Coldlar Wallet" src="/img/wallets/coldlar.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://guarda.co/" target="_blank"><img alt="Guarda Wallet" src="/img/wallets/guarda.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://www.iPayYou.io/tk/BitcoinCashOrg/" target="_blank"><img alt="I Pay You" src="/img/wallets/ipayyou.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://play.google.com/store/apps/details?id=com.hashengineering.bitcoincash.wallet" target="_blank"><img alt="Bitcoin Cash Wallet" src="/img/wallets/bitcoincashwallet.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://cashaddress.org/" target="_blank"><img alt="Cash Address" src="/img/wallets/cashaddress.png"></a>
            </div>
            <div class="col-sm-6 col-md-3 vertical-align to-animate">
                <a href="https://walletgenerator.net/?currency=BitcoinCash" target="_blank"><img alt="WalletGenerator.net" src="/img/wallets/walletgenerator.png"></a>
            </div>
            <div class="col-sm-12 text-center">
                <a href="get-listed.html" class="btn btn-default">{% t 'headings.listingrequest' %}</a>
            </div>
        </div>
    </div>
</section>